<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"backgroundColor":"subtle","layout":{"type":"constrained","contentSize":"720px"}} -->
<div class="wp-block-group has-subtle-background-color has-background" style="padding-top:80px;padding-bottom:80px"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"32px"}}} --><h1 class="wp-block-heading has-text-align-center" style="font-size:32px">Página não encontrada</h1><!-- /wp:heading --><!-- wp:paragraph {"align":"center"} --><p class="has-text-align-center">Volte para a <a href="/">página inicial</a>.</p><!-- /wp:paragraph --></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->
