<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"conteudo","align":"full","layout":{"type":"default"}} -->
<main id="conteudo" class="wp-block-group alignfull">
<!-- wp:template-part {"slug":"page-hero"} /-->
<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"40px","bottom":"40px","left":"20px","right":"20px"}}},"layout":{"type":"constrained","contentSize":"720px"}} -->
<div class="wp-block-group alignfull" style="padding-top:40px;padding-bottom:40px;padding-left:20px;padding-right:20px"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->
